<div class="compact ui stackable grid container">
  
<div class="row">
	<div class="sixteen wide column">
	 	<h3>Inserisci le tue richieste e ti mostreremo i cani che rispondono alle tue esigenze.</h3>
	 </div>
</div>
			
<div class="row">
	<div class="sixteen wide column">
 		<form #ricercaForm="ngForm" class="ui form" >
			<div class="ui gray message">
 			<div class="compact ui stackable grid">
	 			<div class="row">
	 				<div class="four wide column">
						  <div class="ui form">
							  <div class="grouped fields">
							    <label>Tipo di animale:</label>
							    <div class="field">
							      <div class="ui slider checkbox">
							        <input type="radio" name="rdAnimale" value="2" [(ngModel)]="model.tipo" #tipo="ngModel">
							        <label>Gatto</label>
							      </div>
							    </div>
							    <div class="field">
							      <div class="ui slider checkbox">
							        <input type="radio" name="rdAnimale" value="1" [(ngModel)]="model.tipo" #tipo="ngModel">
							        <label>Cane</label>
							      </div>
							    </div>
							    <div class="field">
							      <div class="ui slider checkbox">
							        <input type="radio" name="rdAnimale" value="" [(ngModel)]="model.tipo" #tipo="ngModel">
							        <label>Tutti</label>
							      </div>
							    </div>
							  </div>
						  </div>
				  	</div>
				  	<div class="four wide column">
						  <div class="ui form">
							  <div class="grouped fields">
							    <label>Sesso:</label>
							    <div class="field">
							      <div class="ui slider checkbox">
							        <input type="radio" name="rdSesso" value="M" [(ngModel)]="model.sesso" #sesso="ngModel">
							        <label>Maschio</label>
							      </div>
							    </div>
							    <div class="field">
							      <div class="ui slider checkbox">
							        <input type="radio" name="rdSesso" value="F" [(ngModel)]="model.sesso" #sesso="ngModel">
							        <label>Femmina</label>
							      </div>
							    </div>
							    <div class="field">
							      <div class="ui slider checkbox">
							        <input type="radio" name="rdSesso" value="" [(ngModel)]="model.sesso" #sesso="ngModel">
							        <label>Indifferente</label>
							      </div>
							    </div>
							  </div>
						  </div>
				  	</div>
				  	<div class="four wide column" ng-if="search.tipoAnimale != 2">	
						 <div class="field">
						    <label>Taglia</label>
						    <select name="taglia" class="ui search dropdown" [(ngModel)]="model.taglia" #taglia="ngModel">
						      <option value="">Taglia</option>
						      <option value="MINI">MINI</option>
						      <option value="PICCOLA">PICCOLA</option>
						      <option value="MEDIO PICCOLA">MEDIO PICCOLA</option>
						      <option value="MEDIA">MEDIA</option>
						      <option value="MEDIO CONTENUTA">MEDIO CONTENUTA</option>
						      <option value="MEDIA ABBONDANTE">MEDIA ABBONDANTE</option>
						      <option value="GRANDE">GRANDE</option>
						      </select>
					      </div>
					</div>
					<div class="four wide column">
					      <div class="field">
						    <label>Et&agrave;</label>
						    <select class="ui search dropdown" name="eta" [(ngModel)]="model.eta" #eta="ngModel">
						      <option value="">Et&agrave;</option>
						      <option value="CUCCIOLO">CUCCIOLO</option>
						      <option value="ADULTO">ADULTO</option>
						      <option value="ANZIANO">ANZIANO</option>
						      </select>
					      </div>
					</div>
				</div>
				
				<div class="row">
					<div class="five wide column">	
						 <div class="field">
						    <label>Nazione</label>
						    <select class="ui search dropdown" name="nazione" [(ngModel)]="model.nazione" #nazione="ngModel" (ngModelChange)="getRegioni($event)">
						    <option value="" selected="selected">Nazione</option>
						      <option value="IT">Italia</option>
							  <option value="CH">Svizzera</option>
						    </select>
					      </div>
					</div>
					<div class="five wide column">	
						 <div class="field">
						    <label>Regione</label>
						    <select class="ui search dropdown" name="regione" [(ngModel)]="model.regione" #regione="ngModel" (ngModelChange)="getProvince($event)">
									<option value="" selected="selected">Seleziona regione</option>
									<option *ngFor="let regione of regioni" [value]="regione.id" selected="selected">{{regione.nome}}</option>
						      </select>
					      </div>
					</div>
					<div class="six wide column">
					      <div class="field">
						    <label>Provincia</label>
						    <select class="ui search dropdown" name="provincia" [(ngModel)]="model.provincia" #provincia="ngModel">
									<option value="" selected="selected">Seleziona provincia</option>
									<option *ngFor="let provincia of province" [value]="provincia.id" selected="selected">{{provincia.nome}}</option>
						      </select>
					     </div>
					</div>
				</div>
				
				<div class="row">
					<div class="six wide column">
						<h5 style="color:red;">{{strCount}}</h5>
					</div>
					
					<div class="right floated right aligned six wide column">
						<button class="small ui primary button"  (click)="ricerca()"><i class="search icon"></i> Ricerca</button>
						<button class="small ui primary button"  (click)="reset()" style="margin-right : 5px;"><i class="undo alternate icon"></i> Reset</button>
					</div>
					
				</div>
				
			</div>
		</div>
	 </form>
	</div>
</div>

  <div class="row" *ngIf="animali && animali.length > 0" style="margin-top:30px; margin-bottom:10px">
	<div class="sixteen wide column">
	 	<h3>{{strForList}}</h3>
	 </div>
  </div>

  <div class="row" *ngIf="animali">
    <div class="sixteen wide column">
      <div class="ui four stackable link cards">
        <div class="card" *ngFor="let animale of animali" (click)="onSelect(animale)">
          <div class="ui fluid image">
            <div class="ui orange right ribbon label" style="z-index : 1000" *ngIf="animale.id_stato == 4">Prenotato</div>
            <img *ngIf="animale.foto.url" src="{{animale.foto.url}}">
          <img *ngIf="!animale.foto.url" src="assets/dog.jpg">
        </div>
        <div class="content">
          <div class="header">
            <label class="header">{{animale.nome}}</label> 
            <label *ngIf="animale.sesso == 'M'" class="header" style="float:right"><i class="large blue mars icon"></i></label>
            <label *ngIf="animale.sesso == 'F'" class="header" style="float:right"><i class="large pink venus icon"></i></label>
            </div>
              <div class="meta">
                <i>{{animale.periodo_short.replace('a',' anni').replace('m',' mesi').replace('g',' giorni')}}</i>,
                <i *ngIf="animale.id_tipo_animale == 1">{{animale.peso | number:'.0-0'}} Kg. {{animale.eta=='Cucciolo'?'(da adulto)':''}}</i>
							</div>
							<div class="meta" *ngIf="animale.location">
                Mi trovo a <i>{{animale.location}}</i>
							</div>
							<div class="description">
									{{animale.descr_breve}}
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>    
	
  <div class="row">
    <div class="sixteen wide column">
      <hr>
      <b>Voglio adottare un cane. Da dove comincio?</b><br>
        La primissima cosa da fare &egrave; valutare se il tuo stile di vita &egrave; adatto ad un cane.<br>
        Ripensa alla tua decisione di avere un animale se:<br>
        <ul>
          <li>dovrai lasciarlo solo pi&ugrave; di 5-6 ore</li>
          <li>non hai la possibilit&agrave; di spendere per mantenerlo in salute o per curarlo quando sta male</li>
          <li>nella tua famiglia sta per nascere un bimbo che ruber&agrave; tutte le attenzioni</li>
          <li>qualcuno in famiglia &egrave; contrario all'arrivo di un animale (compresi il tuo cane o il tuo gatto!)</li>
        </ul>
        Se tutto &egrave; pronto per l'arrivo di un cane, devi districarti tra le migliaia di appelli senza cedere a ogni paio di occhioni che vedi.<br>
        Il <b>primo criterio</b> che ci viene chiesto &egrave; la taglia: il cane piccolo occupa s&igrave; meno spazio ma non &egrave; meno impegnativo di una taglia medio piccola che adora poltrire nella sua cuccia che quasi non ti accorgi di averlo.<br>
        Nel nostro "vocabolario" distinguiamo le taglie cos&igrave;:<br>
        <ul>
          <li>mini: fino a 5-6 kg</li>
          <li>piccola: da 5 a 10 kg</li>
          <li>medio piccola: tra 10 e 15 kg</li>
          <li>media contenuta: tra 15 e 18 kg</li>
          <li>media: tra 18 e 25 kg</li>
          <li>media abbondante: tra 25 e 30 kg</li>
          <li>grande: dai 30 in su</li>
        </ul>
        Il nostro invito &egrave; a non farvi condizionare dal chilo in pi&ugrave; o in meno che davvero non vi cambiano la vita :)<br>
        Il <b>secondo criterio</b> &egrave; il sesso. Maschio o femmina?<br>
        Per tutte le femmine richiediamo la sterilizzazione obbligatoria, senza deroghe. Se &egrave; un argomento che non condividete, non cercate di convincerci.<br>
        Per i maschi non &egrave; sempre obbligatoria ma &egrave; vivamente consigliata, magari previo consulto con un comportamentalista.<br>
        Sfatiamo qualche mito: non &egrave; vero che le femmine sono pi&ugrave; tranquille e coccolone, che i maschi litigano con gli altri maschi e che marcano in casa. Come per noi umani, i cani hanno personalit&agrave; diverse e interagiscono con noi in modo differente. Troverete maschi appiccicosi e femmine che marcano e litigano.<br>
        <b>Il terzo criterio</b> &egrave; l'et&agrave;. Cucciolo o adulto?<br>
        I cuccioli sono chiaramente i preferiti. Nessuno resiste a quei musetti! Tanti pensano che un adulto non sappia imparare e non si affezioni alla nuova famiglia. Niente di pi&ugrave; falso. Anzi. Loro sanno bene la differenza tra la vita di prima in box, a catena o in strada e quella che gli offrite voi e ve ne saranno grati per sempre. Impareranno a seguirvi, a osservare ogni vostro gesto e ad anticiparvi. Diventeranno persino campioni in discipline cinofile se lo vorrete :)<br>
        A questo punto arrivano le preferenze personali: pelo lungo o pelo corto; che assomigli a [razza]; orecchie flosce o a punta; bianco, beige o nero (quasi mai!); giocherellone o tranquillo... Chiedete senza remore o imbarazzo: i cani in cerca di casa sono talmente tanti che sar&agrave; facile trovare il compagno che cercate ;)<br>
    </div>
  </div>

</div>


