<div class="compact ui stackable grid container" style="margin-top: 20px;" *ngIf="animale">
	<div class="row">
		<div class="sixteen wide column">
		 	<label (click)="goBack()" class="ui orange label" style="cursor : pointer"><i class="angle double left icon"></i> indietro</label>
		 </div>
	</div>
	<div class="row">
		<div class="sixteen wide column">
		 	<h2>Ciao! Io sono {{animale.nome}}</h2>
		 </div>
	</div>
	<div class="row">
		<div class="eight wide column">
		 	<div class="ui image">
		      <div class="ui orange right ribbon label" style="z-index : 1000" *ngIf="animale.id_stato == 4">
		        Prenotato
		      </div>
		      	<img name="aFoto" *ngIf="animale.foto" src="{{animale.foto.url}}">
				<img name="aFoto" *ngIf="!animale.foto" src="assets/dog.jpg">
		    </div>
		 </div>
		 
		 <div class="eight wide column">
			 <table class="ui compact table"  style="border: none !important;"> 
				<tr>
					<td style="border-top: 0px !important;" colspan="2"><h3>Cosa vuoi sapere di me?</h3></td>
				</tr>
				<tr>
					<td style="border-top: 0px !important;" colspan="2">
						Sesso: 	<i *ngIf="animale.sesso == 'M'" class="large blue mars icon"></i>
						<i *ngIf="animale.sesso == 'F'" class="large pink venus icon"></i>
						<b>{{animale.sesso == 'F' ? 'Femmina':'Maschio'}}</b>
						<br>
						Et&agrave;: <b>{{animale.periodo}}</b>
						<span *ngIf="animale.id_tipo_animale != 2"><br>Peso: <b>{{animale.peso | number:'.0-0'}}</b> Kg. {{animale.eta=='Cucciolo'?'(da adulto)':''}}</span>
						<br>
						Mi trovo a <b>{{animale.location}}</b>
					</td>
				</tr>
				<tr>
					<td style="border-top: 0px !important; font-size: 20px" colspan="2"><pre>{{animale.descr_lunga}}</pre></td>
				</tr>
				<tr>
					<td style="border-top: 0px !important;" colspan="2">&nbsp;</td>
				</tr>
				<tr>
					<td style="border-top: 0px !important;" colspan="2"><h3>Aiutami a trovare casa :</h3></td>
				</tr>
				<!-- <tr>
					<td style="border-top: 0px !important;">
						<b>condividi la mia storia </b>
					</td>
					<td style="border-top: 0px !important;">
						<share-button *ngIf="animale.foto" [theme]="'default'"
							[button]="'facebook'"
							[showText]="true"
							[url]="getUrl()"
							[title]="animale.nome"
							[description]="animale.nome"
							[image]="animale.foto.url"
							[tags]="animale.nome"
							[autoSetMeta]="false"
						></share-button>
					</td>
				</tr> -->
				<tr>
					<td colspan="2">
						<b>appendi il mio volantino <a href="{{env.urlHost}}/volantino.html?id={{animale.id_animale}}" target="blank"><i class="file pdf outline large icon"></i> Clicca qui</a></b>
					</td>
				</tr>
				<tr>
					<td>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
								<input type="hidden" name="cmd" value="_s-xclick" />
								<input type="hidden" name="hosted_button_id" value="JXDP6KDH29W56" />
								<input type="image" src="https://www.paypalobjects.com/en_US/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - Aiutaci con una donazione, adotta un cane!" alt="Dona con PayPal" />
								<img alt="" border="0" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
								</form>
					</td>
				</tr>
			 </table>
		 </div>
	</div>
	<div class="row" style="padding: 0px;">
		<div class="sixteen wide column">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="six wide column">
			<div class="compact ui stackable grid">
				<div class="row">
					<div class="four wide column" *ngFor="let f of foto">
						<img style="width : 100%; cursor: pointer;" src="{{f.url}}" (click)="showImage(f.url)">
					</div>
				</div>
				<div class="four">
					<div class="two wide column"  *ngFor="let v of video">
						 <!--<youtube-player  [videoId]="getVideoId(v.url)" ></youtube-player>-->
						 nessun video disponibile
					</div>
				</div>
				<div class="row">
					<div class="sixteen wide column">
						<h3>Info :</h3>
		                <span *ngFor="let c of caratteri">
		                	{{c.contesto}}: <b>{{c.id_tipo_carattere == '0' ? c.note : c.carattere}}</b><br>
		                </span>
					</div>
				</div>
			</div>
		 </div>
		 
	</div>
	<div class="row" style="padding: 0px;">
		<div class="sixteen wide column">
			<hr>
		</div>
	</div>
	<div class="row" style="margin-top : 20px">
		 <div class="two wide column">
		 	 <h3>Chiedi di me :</h3>
		 </div>
		 <div class="fourteen wide column">
		 	<b>Scrivi una mail a <a href="mailto:{{mail}}">{{mail}}</a></b><br>
	        oppure<br>
	        <b>Chiamaci ai numeri : {{contatti}}</b><br>
		 </div>
	</div>
	
	
	<div class="row">
		<div class="col-md-12">
		 	<br><br><br><br><br><br><br>
		</div>
	</div> 

</div>





