/* You can add global styles to this file, and also import other style files */

.header_1 {color: white; clear: left; font-weight: bold; font-size: 24px}
.header_2 {color: white; clear: left; font-weight: bold; font-size: 18px}

pre {
    display: block;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    white-space: pre;
    margin: 1em 0;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }